---
import Layout from '../../layouts/Layout.astro';
import stats from '../../data/stats.json';

const title = "All Tools - ToolMeke";
const description = "Browse all tools and compare prices across New Zealand hardware stores";
---

<Layout title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="title is-1 has-text-centered has-text-dark">All Tools</h1>
      <p class="subtitle is-4 has-text-grey has-text-centered mb-6">
        Browse our complete database of {stats.totalTools} tools across {stats.totalBrands} brands
      </p>
      
      <div class="has-text-centered py-5">
        <h2 class="title is-2 has-text-dark mb-4">Browse by Brand</h2>
        <p class="subtitle is-4 has-text-grey mb-4">
          To view our complete tool database, please browse by brand:
        </p>
        <a href="/brands/" class="button is-primary is-large">
          View All Brands
        </a>
      </div>

      <!-- Featured categories could be added here in the future -->
      <div class="box has-background-light mt-5">
        <h3 class="title is-4 has-text-dark mb-4">Database Stats</h3>
        <div class="columns">
          <div class="column is-3 has-text-centered">
            <div class="title is-2 has-text-dark">{stats.totalTools}</div>
            <div class="is-size-6 has-text-grey">Total Tools</div>
          </div>
          <div class="column is-3 has-text-centered">
            <div class="title is-2 has-text-dark">{stats.totalBrands}</div>
            <div class="is-size-6 has-text-grey">Brands</div>
          </div>
          <div class="column is-3 has-text-centered">
            <div class="title is-2 has-text-dark">{stats.totalStores}</div>
            <div class="is-size-6 has-text-grey">Stores</div>
          </div>
          <div class="column is-3 has-text-centered">
            <div class="title is-4 has-text-dark">{stats.lastUpdated}</div>
            <div class="is-size-6 has-text-grey">Last Updated</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
